section.intro
  In this section we discuss the notion of two integers having a common divisor.

  blockquote.definition
    p
      strong> definition.
      | A
      em<> common divisor
      | of two integers is an integer that divides them both.  The
      em<> common divisors
      |
        of two integers (not both zero) are the positive integers that divide
        both them both.

    hr

    p
      |
        Since every integer divides $ 0 $, the common divisors of a nonzero integer
        $ a $ and $ 0 $ is equal to the divisors of $ a $.

section.examples
  h2 examples

  ol
    - for a, b in [[30, 42], [21, 231], [130, 2401]]
      li.example
        | What are the common divisors of $ #{a} $ and $ #{b} $?

        .solution-container
          |
            The divisors of $ #{a} $ are
            $$ #{Ebe.divisors(a).join(", ")} . $$
            The divisors of $ #{b} $ are
            $$ #{Ebe.divisors(b).join(", ")} . $$
            The common divisors of $ #{a} $ and $ #{b} $ are
            $$ #{Ebe.common_divisors(a, b).join(", ")} . $$

    li.example
      == render "components/_scroll_form"
        | What are the common divisors of
        input>(
          id="number"
          name="number"
          value="#{@view.number}"
          type="number"
          required=true
          placeholder="number"
          max="#{@view.maximum}"
        )
        | and
        input>(
          id="other"
          name="other"
          value="#{@view.other}"
          type="number"
          required=true
          placeholder="other number"
          max="#{@view.maximum}"
        )
        | ?
        input type="submit" value="submit"

      - unless @view.number.nil? || @view.other.nil?
        .solution-container
          | The divisors of $ #{@view.number} $ are
          - if @view.number == 0
            span<> all positive integers.
          - else
            | $$ #{Ebe.divisors(@view.number).join(", ")} . $$

          | The divisors of $ #{@view.other} $ are
          - if @view.other == 0
            span<> all positive integers.
          - else
            | $$ #{Ebe.divisors(@view.other).join(", ")} . $$

          | The common divisors of $ #{@view.number} $ and $ #{@view.other} $ are
          - if @view.number == 0 && @view.other == 0
            span<> all positive integers.
          - else
            | $$ #{Ebe.common_divisors(@view.number, @view.other).join(", ")} . $$

section.exercises
  h2 exercises

  ol
    li.exercise
      | Write a
      code<>common_divisors
      |
        function that takes two integer inputs (not both zero) and returns the
        sorted array of their common divisors.

      p Some test values:
      ul
        - for example in @view.common_divisors_examples
          li
            code common_divisors(#{example[:inputs].join(", ")}) ~> #{example[:common_divisors]}

      == render "components/_solution", :locals => { :id => "exercise-common-divisors" }
        pre
          code.language-ruby
            == @view.common_divisors_code_snippet

    li.exercise
      |
        If $ d $ is a common divisor of $ a $ and $ b $,
        prove that $ d $ divides the sum $ a + b $.

      == render "components/_solution", :locals => { :id => "example-2" }
        |
          As a common divisor, we know that $ d \mid a $ and $ d \mid b $.  Therefore
          we can write $ a = d \cdot m $ and $ b = d \cdot n $ for some integers
          $ m $ and $ n $.  The sum $ a + b $ can then be expressed as
          $$ a + b = (d \cdot m) + (d \cdot n) = d \cdot (m + n), $$
          which shows that $ d \mid (a + b) $.

    li.exercise
      |
        Disprove the converse of the previous exercise by finding a counterexample.
        In other words, find three integer $ a, b, d $ such that $ d $ divides the
        sum $ a + b $, but where $ d $ is not a common divisor of $ a $ and $ b $.

      == render "components/_solution", :locals => { :id => "example-3" }
        |
          Let $ a = 13 $ and $ b = 7 $.  The sum $ a + b = 20 $ is divisible by $ d = 5 $,
          but this $ d $ is not a divisor of either $ a $ or $ b $, therefore not a common
          divisor.

    li.exercise
      |
        If $ d $ is a common divisor of $ a $ and $ b $,
        prove that $ d $ divides the difference $ a - b $.

      == render "components/_solution", :locals => { :id => "example-4" }
        |
          As a common divisor, we know that $ d \mid a $ and $ d \mid b $.  Therefore
          we can write $ a = d \cdot m $ and $ b = d \cdot n $ for some integers
          $ m $ and $ n $.  The difference $ a - b $ can then be expressed as
          $$ a - b = (d \cdot m) - (d \cdot n) = d \cdot (m - n), $$
          which shows that $ d \mid (a - b) $.

    li.exercise
      |
        Disprove the converse of the previous exercise by finding a counterexample.
        In other words, find three integer $ a, b, d $ such that $ d $ divides the
        sum $ a + b $, but where $ d $ is not a common divisor of $ a $ and $ b $.

      == render "components/_solution", :locals => { :id => "example-5" }
        |
          Let $ a = 13 $ and $ b = 7 $.  The difference $ a - b = 6 $ is divisible by $ d = 6 $,
          but this $ d $ is not a divisor of either $ a $ or $ b $, therefore not a common
          divisor.
