p Number theory is the study of integers. The integers, denoted by $ \mathbb{Z} $
  are the counting numbers $ 1, 2, 3, \dots $,
  their negatives $ -1, -2, -3, \dots $, and zero:
  $$ \mathbb{Z} = \{ \dots -3, -2, -1, 0, 1, 2, 3, \dots \}. $$

p We will assume the familiar arithmetic of addition, subtraction, and
  multiplication of integers; integer division will be the first topic in this
  treatment.

p
  | We will also assume the principle of
  a<> href=@contents.url_for(:mathematical_induction)
    | mathematical induction
  | and the
  a< href=@contents.url_for(:well_ordering_principle)
    | well-ordering principle
  | .

p
  | The integers and their arithmetic are based on the
  a<> href=@contents.url_for(:peano_axioms)
    | Peano axioms
  |
    , which uniquely define the natural numbers
    $$ \mathbb{N} = \{ 0, 1, 2, 3, \dots \}. $$
    The integers $ \mathbb{Z} $ are then defined by extending the natural
    numbers so that each natural number $ n $ has an additive inverse $ -n $
    satisfying
    $$ n + (-n) = 0. $$


p Some treatments of number theory will define the natural numbers as beginning
  at $ 1 $. The original Peano axioms did just that. There is no consensus in
  the mathematical community, but the Peano axioms section of the appendix
  defines them as starting at $ 0 $.
  To avoid confusion throughout the text, we will denote by $ \mathbb{N}_k $
  the natural numbers starting at the integer $ k $, so
  $$ \begin{align}
    \mathbb{N}_0 &= \{ 0, 1, 2, 3, \dots \} \\
    \mathbb{N}_1 &= \{ 1, 2, 3, 4, \dots \} \\
    \mathbb{N}_5 &= \{ 5, 6, 7, 8, \dots \} \\
    \vdots
  \end{align} $$

p The sections in the appendix linked above are introductory and not
  comprehensive. The interested reader might augment those topics with
  additional sources.

