title number theory for programmers

meta charset="utf-8"
meta http-equiv="X-UA-Compatibile" content="IE=edge"
meta name="viewport" content="width=device-width, initial-scale=1"

script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" defer="true"

link href="https://fonts.googleapis.com/css?family=Arvo:400,300,700,800,600" rel="stylesheet" type="text/css"
link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300,700,800,600" rel="stylesheet" type="text/css"

== assets(:css)
== assets(:js)

